<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a8c6e409af.js" crossorigin="anonymous"></script>
    <title>Receta Sorbete de Limón</title>
    <link rel="icon" href="./../img/lemon-regular.svg">
</head>
<body>
    <!--Link receta sorbete limón original: https://www.directoalpaladar.com/postres/sorbete-de-limon-->
    <a href="./../index.html"><i class="fa-solid fa-arrow-left"></i>Volver al menú</a>
    <h1 id="principio">Receta Sorbete de limón</h1>
    <h3>En esta web vais a poder ver como hacer el mejor sorbete paso a paso!!</h3>
    <ul>
        <li><a href="#ingredientes">Ingredientes</a></li> 
        <li><a href="#paso-a-paso">Paso a paso</a></li> 
        <li><a href="#resultado-final">Resultado final</a></li>
    </ul>
    <HR><br>
    <a href="#principio"><h2 id="ingredientes">Ingredientes (4 Pax)</h2></a>
    <h3>Para hacer nuestro maravilloso sorbete para 4 personas necesitaremos:</h3>
    <ol>
        <li><strong>250ml</strong> Zumo de limón</li>
        <li><strong>2</strong> Claras de huevo</li>
        <li><strong>500ml</strong> agua</li>
        <li><strong>200g</strong> de Azucar</li>
    </ol>
    <hr>
    <a href="#principio"><h2 id="paso-a-paso">Paso a Paso de la Receta</h2></a>

    <ul>
        <li><strong>Dificultad: Media</strong></li>
        <li><strong>Tiempo de elaboración 20 min</strong></li>
        <li><strong>Tiempo de reposo 2h</strong></li>
    </ul>
    <ol>
        <li>Primer paso: Juntamos el agua con el azucar y lo ebullimos mientras lo remenamos para hacer un almíbar, cuando esté hecho, lo dejaremos enfriar. <br><br><img src="./../img/agua-azucarPostre.png" alt="img agua-azucar" style="max-width: 200px; max-height: 200px;"></li>
        <li>Segundo paso: Mezclamos y colamos el zumo de limón junto  al almíbar y lo dejaremos en el congelador durante 2h <br><br> <img src="./../img/colandoPostre.png" alt="img colando el zumo/almíbar" style="max-width: 200px; max-height: 200px;"></li>
        <li>Tercer paso: Montaremos las 2 claras de huevo y las juntaremos con el zumo que tenemos preparado <br><br> <img src="./../img/clara+zumoPostre.png" alt="img clara junto al zumo" style="max-width: 200px; max-height: 200px;"></li>
        <li>Último paso: Emplataremos y lo dejaremos en el congelador hasta el momento de servirlo <br><br><img src="./../img/emplatadoPostre.png" alt="img emplatado" style="max-width: 200px; max-height: 200px;"></li>
            
    </ol>
    <hr><br>
    <a href="#principio"><h2 id="resultado-final">Resultado Final</h2></a>
    <h3>Una vez realizados todos los pasos anteriores ya habreis acabado la receta!! En la imagen podeis ver el resultado final de como os quedará si lo haceis bien!!</h3>
    <img src="./../img/sorbete.jpg" alt="img resultado final" style="max-width: 500px; max-height: 500px;"><br>
    <a href="#principio"><i class="fa-solid fa-arrow-left"></i>Volver al principio de la receta</a>
<hr><br>
</body>
</html>