<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a8c6e409af.js" crossorigin="anonymous"></script>
    <title>Receta Gazpacho</title>
    <link rel="icon" href="./img/lemon-regular.svg">
</head>
<body>
    <!--Link receta gazpacho original: https://www.directoalpaladar.com/recetas-de-sopas-y-cremas/receta-de-gazpacho-andaluz-tradicional-->
    <a href="./../index.html"><i class="fa-solid fa-arrow-left"></i>Volver al menú</a>
    <h1 id="principio">Receta Gazpacho</h1>
    <h3>En esta web vais a poder ver como hacer el mejor gazpacho paso a paso!!</h3>
    <ul>
        <li><a href="#ingredientes">Ingredientes</a></li> 
        <li><a href="#paso-a-paso">Paso a paso</a></li> 
        <li><a href="#resultado-final">Resultado final</a></li>
    </ul>
    <HR><br>
    <a href="#principio"><h2 id="ingredientes">Ingredientes (6 Pax)</h2></a>
    <h3>Para hacer nuestro maravilloso gazpacho para 6 personas necesitaremos:</h3>
    <ol>
        <li><strong>1KG</strong> de Tomate pera</li>
        <li><strong>1</strong> Pimiento verde Italiano</li>
        <li><strong>1 </strong>Pepino</li>
        <li><strong>2</strong> Dientes de Ajo</li>
        <li><strong>50ml</strong> de Aceite de oliva</li>
        <li><strong>50g</strong> de pan de hogaza</li>
        <li><strong>250ml</strong> de agua</li>
        <li><strong>5g</strong> de Sal</li>
        <li><strong>30ml</strong> de vinagre de Jerez</li>
    </ol>
    <hr>
    <a href="#principio"><h2 id="paso-a-paso">Paso a Paso de la Receta</h2></a>

    <ul>
        <strong><li>Dificultad: Media</li>
        <li>Tiempo de elaboración 15min</li>
        <li>Tiempo de reposo 1h</li></strong>
    </ul>
    <ol>
        <li>Primer paso: Preparamos todos los ingredientes con las porciones indicadas</li>
        <img src="./../img/ingredientesP1.png" alt="img ingredientes gazpacho" style="max-width: 200px; max-height: 200px;">
        <li>Segundo paso: Cortamos todos los ingredientes con un tamaño adecuado para triturar</li>
        <img src="./../img/CortadosP1.png" alt="img ingredientes cortados" style="max-width: 200px; max-height: 200px;">
        <li>Tercer paso: Trituramos todo hasta que quede con la textura de la imagen</li>
        <img src="./../img/trituradoP1.png" alt="img triturado" style="max-width: 200px; max-height: 200px;">
        <li>Último paso: Emplataremos y dejaremos reposar 1h antes de comerlo</li>
        <img src="./../img/emplatadoP1.png" alt="img emplatado" style="max-width: 200px; max-height: 200px;">
    </ol>
    <hr><br>
    <a href="#principio"><h2 id="resultado-final">Resultado Final</h2></a>
    <h3>Una vez realizados todos los pasos anteriores ya habreis acabado la receta!! En la imagen podeis ver el resultado final de como os quedará si lo haceis bien!!</h3>
    <img src="./../img/gazpacho.webp" alt="img resultado final" style="max-width: 500px; max-height: 500px;"><br>
    <a href="#principio"><i class="fa-solid fa-arrow-left"></i>Volver al principio de la receta</a>
<hr><br>
</body>
</html>