<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a8c6e409af.js" crossorigin="anonymous"></script>
    <title>Receta Gazpacho</title>
</head>
<body>
    <!--Link receta gazpacho original: https://www.directoalpaladar.com/recetas-de-sopas-y-cremas/receta-de-gazpacho-andaluz-tradicional-->
    <a href="./../index.html"><i class="fa-solid fa-arrow-left"></i>Volver al menú</a>
    <h1 id="principio">Receta Gazpacho</h1>
    <h3>En esta web vais a poder ver como hacer el mejor gazpacho paso a paso!!</h3>
    <ul>
        <li><a href="#ingredientes">Ingredientes</a></li> <br>
        <li><a href="#paso-a-paso">Pas a pas</a></li> <br>
        <li><a href="#resultado-final">Resultat final</a></li>
    </ul>
    <HR><br>
    <h2 id="ingredientes">Ingredientes (6 Pax)</h2>
    <h3>Para hacer nuestro maravilloso gazpacho para 6 personas necesitaremos:</h3>
    <ol>
        <li>1KG de Tomate pera</li><br>
        <li>1 Pimiento verde Italiano</li><br>
        <li>1 Pepino</li><br>
        <li>2 Dientes de Ajo</li><br>
        <li>50 ml de Aceite de oliva</li><br>
        <li>50g de pan de hogaza</li><br>
        <li>250ml de agua</li><br>
        <li>5g de Sal</li><br>
        <li>30ml de vinagre de Jerez</li><br>
    </ol>
    <hr>
    <h2 id="paso-a-paso">Paso a Paso de la Receta</h2>

    <ul>
        <strong><li>Dificultad: Media</li><br>
        <li>Tiempo de elaboración 15min</li><br>
        <li>Tiempo de reposo 1h</li><br></strong>
    </ul>
    <ol>
        <li>Primer paso: Preparamos todos los ingredientes con las porciones indicadas</li><br>
        <img src="./../img/ingredientesP1.png" alt="img ingredientes gazpacho" style="max-width: 200px; max-height: 200px;"><br>
        <li>Segundo paso: Cortamos todos los ingredientes con un tamaño adecuado para triturar</li><br>
        <img src="./../img/CortadosP1.png" alt="img ingredientes cortados" style="max-width: 200px; max-height: 200px;"><br>
        <li>Tercer paso: Trituramos todo hasta que quede con la textura de la imagen</li><br>
        <img src="./../img/trituradoP1.png" alt="img triturado" style="max-width: 200px; max-height: 200px;"><br>
        <li>Último paso: Emplataremos y dejaremos reposar 1h antes de comerlo</li><br>
        <img src="./../img/emplatadoP1.png" alt="img emplatado" style="max-width: 200px; max-height: 200px;"><br>
    </ol>
    <hr><br>
    <h2 id="resultado-final">Resultado Final</h2>
    <h3>Una vez realizados todos los pasos anteriores ya habreis acabado la receta!! En la imagen podeis ver el resultado final de como os quedará si lo haceis bien!!</h3>
    <img src="./../img/gazpacho.webp" alt="img resultado final" style="max-width: 500px; max-height: 500px;"><br>
    <a href="#principio"><i class="fa-solid fa-arrow-left"></i>Volver al principio de la receta</a>
<hr><br>
</body>
</html>