<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a8c6e409af.js" crossorigin="anonymous"></script>
    <title>Receta Tortilla</title>
    <link rel="icon" href="./../img/egg-solid.svg">
</head>
<body>
    <!--Link receta Tortilla original: https://www.directoalpaladar.com/recetas-de-huevos-y-tortillas/empezando-en-la-cocina-receta-de-tortilla-de-patatas-con-cebolla-->
    <a href="./../index.html"><i class="fa-solid fa-arrow-left"></i>Volver al menú</a>
    <h1 id="principio">Receta Tortilla</h1>
    <h3>En esta web vais a poder ver como hacer la mejor tortilla paso a paso!!</h3>
    <ul>
        <li><a href="#ingredientes">Ingredientes</a></li> 
        <li><a href="#paso-a-paso">Paso a paso</a></li> 
        <li><a href="#resultado-final">Resultado final</a></li>
    </ul>
    <HR><br>
    <a href="#principio"><h2 id="ingredientes">Ingredientes (4 Pax)</h2></a>
    <h3>Para hacer nuestra maravillosa tortilla para 4 personas necesitaremos:</h3>
    <ol>
        <li><strong>700g</strong> de patatas</li>
        <li><strong>300g</strong> de cebollas</li>
        <li><strong>6 </strong>Huevos</li>
        <li>Sal al gusto</li>
        <li>Aceite de oliva al gusto</li>
    </ol>
    <hr>
    <a href="#principio"><h2 id="paso-a-paso">Paso a Paso de la Receta</h2></a>

    <ul>
        <li><strong>Dificultad: Media</strong></li>
        <li><strong>Tiempo de elaboración 30min</strong></li>
        <li><strong>Tiempo de cocción 15min</strong></li>
    </ul>
    <ol>
        <li>Primer paso: Preparamos la cebolla y la dejamos en el fuego lento para caramelizarla <br><br> <img src="./../img/caramelizadaP2.png" alt="img cebolla caramelizadaP2" style="max-width: 200px; max-height: 200px;"></li>
        <li>Segundo paso: Mientras se hace la cebolla pelamos, cortamos las patatas y las dejamos en agua 15 minutos <br><br> <img src="./../img/patatacortadaP2.png" alt="img patata cortada" style="max-width: 200px; max-height: 200px;"></li>
        <li>Tercer paso: Rompemos los huevos, mezclamos bien los 3 ingredientes y ya los ponemos en la sarten <br><br> <img src="./../img/mezclaP2.png" alt="img mezcla ingredientes" style="max-width: 200px; max-height: 200px;"></li>
        <li>Quarto paso: Cuando la tortilla lleve 4 minutos en la sarten, le damos la vuelta hasta que se haga por el otro lado <br><br> <img src="./../img/vueltatortilla.jpg" alt="img vuelta a la tortilla" style="max-width: 200px; max-height: 200px;"></li>
        <li>último paso: Una vez ya esté bien hecha, la sacaremos de la sartén y la emplataremos correctamente <br><br> <img src="./../img/emplatadoP2.png" alt="img emplatado" style="max-width: 200px; max-height: 200px;"></li>
            
    </ol>
    <hr><br>
    <a href="#principio"><h2 id="resultado-final">Resultado Final</h2></a>
    <h3>Una vez realizados todos los pasos anteriores ya habreis acabado la receta!! En la imagen podeis ver el resultado final de como os quedará si lo haceis bien!!</h3>
    <img src="./../img/Tortilla.jpeg" alt="img resultado final" style="max-width: 500px; max-height: 500px;"><br>
    <a href="#principio"><i class="fa-solid fa-arrow-left"></i>Volver al principio de la receta</a>
<hr><br>
</body>
</html>